body {
    margin:0;
    font-size: 110%;
}
img{width: 75px; height: 75px;}
html, body {
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
    background-color: rgb(221, 221, 64);
}
nav {
    
    width: 100%;
    height: 15vh;
    background-color: rgb(221, 221, 64);
    display: flex;
    flex-direction: row;
    align-items: center;
}
form {box-sizing: border-box;}
li {
    padding:10px;
    border: solid thin;
    background-color: beige;
    flex-direction: column;
    list-style: none;

}
.sentence p {
    border: solid thin;
    padding: 10px;
    color: green;
    text-align: center;
}
.sentence img {
    display: flex;
    margin-left:auto;
    margin-right: auto;
    flex-direction: column;
    
}
#imgContainer{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    border:solid thin;
    width: fit-content;
}
li:first-child{
    margin-left: 20px;
}
section {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(196, 196, 168);
    width: 60%;
    height: fit-content;
    margin-left:auto;
    margin-right: auto;
    border:solid thin;
    box-shadow: 2px 2px 2px grey;
}
 h1 {
    color: green;
    text-align: center;
}
#word {
    margin-top: 50px;
    width: 100%;
    font-size: 25px;
    box-sizing:border-box;
}
#translation{
    margin-top: 15px;
    width: 100%;
    font-size: 25px;
    box-sizing:border-box;
    
    
}
select {
    width: 200px;
    height: 50px;
}
#submit {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}
#addWord{
    display: flex;
    flex-direction: column;
}
#addWord #submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.home div {
    background-color: rgb(243, 243, 243);
    width: 50%;
    height: 50%;
    align-self: center;/*align verically*/
}
.home form {
    margin-top: 30px;
    width: 90%;
    border: solid thin;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: beige;

}
.error {
    margin-top: 50px;
    margin-bottom: 0px;
}
.button {
    width: 200px;
    padding: 10px;
    background-color: rgb(235, 235, 136);
}
#dropdown {
    margin-bottom: 20px;
    font-size: 25px;
    width: 100%;
}
.home {
    width: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    
}
#partOfSpeech {
    font-size: 22px;
}
.added {
    margin-top:20px;
    display: flex;
    justify-self: center;
    height: 25px;
    width: 200px;
    border:solid thin;
    background-color: azure;
    justify-content: space-evenly;
}
span {
    font-size: 25px;
    color:green;
}
/*style table*/
table {
    box-shadow: 3px 2px 2px grey;
    border:solid thin;
    padding: 15px;
    background-color: rgb(244, 237, 228);
    border-right:none;
    border-left: none;
}
td {
    border:solid thin;
    padding: 10px;
    border-spacing: 0;
    border-collapse: collapse;
    height:75px;
}
th{
    border: solid thin;
    padding: 10px;
}
tr {
    height:fit-content;
}
.show div {
    display: flex;
}
.show form #delete {
    align-self: center;
    justify-self: center;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(242, 242, 21);
}
.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*home page no login*/
.HomePage {padding: 20px;}
.HomePage p {line-height: 25px; font-size: 18px;}
/*style login and register*/
.Login, .Register {flex-direction: column; padding:20px; width: 30%; height: fit-content; }
.Login h5, .Register h5 {font-size: 18px;}
.Register h1 {margin-top: 20px; margin-bottom: 0px;}
.Login fieldset, .Register fieldset {box-sizing: border-box;width: 100%; display: flex; height: 80px; padding:20px;}
.Register fieldset input, .Login fieldset input {font-size: 18px; width: 50%;}
.Register fieldset label, .Login fieldset label {margin-right: 20px; width: 50%;}
.Register form, .Login form {width: 100%; display: flex; flex-direction: column;}
.offset-button {padding: 15px; border-radius: 10px; margin-top: 10px; margin-left: auto; margin-right: auto; background-color: yellow;margin-bottom:50px;}
@media only screen and (max-width: 765px) {
    section{width: auto;}
    .Login, .Register {width: auto;}
    nav{flex-direction: column; height: fit-content;}
    nav li {margin-right: auto;}
    li:first-child {
        margin-left: 0px;
    }
    li:last-child {
        margin-bottom: 20px;
    }
    form{margin-left: 20px;}
  }